body {
  background-color: #1E1E24;
}

a:link {
    color: ##92140C;
    text-decoration: none;
}

a:visited {
    color: #92140C;
}

a:hover {
    color: #C42021;
}

a:active {
    color: #92140C;
}

header h1 {
  color: #C42021;
  font-size: 65px;
  text-align: center;
  font-family: 'Trade Winds', cursive;
  padding-top: 20px;
}

header nav ul {
  background-color: #FFF8F0;
  font-size: 30px;
}

header nav ul li {
  display: inline-block;
  text-align: center;
  margin-left: 1%;  
  margin-right: 1%; 
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #92140C;
  font-family: Copperplate;
  font-weight: bold;
}
  

.col1 {
  width: 60%;
  float: left;
  padding-left: 50px;
  padding-right: 10px;
  padding-bottom: 140px;
  padding-top: 140px;
}

.col2 {
  width: 40%;
  float: left;
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 120px;
  padding-top: 120px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col'] {
  padding-right: 20px;
}

[class*='col']:last-of-type {
  padding-right: 20;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

p {
  color: white;
  font-family: Arial;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
}

section {
  margin: 0px 20px;
}

.fit { 
  max-width: 100%;
  max-height: 100%;
}

.center {
  display: block;
  margin: auto;
}

.profilepic {
  width: 250px;
  height: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: red;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.modal-body p{
  color: black;
}